-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    -if @checked.nil?
      = check_box_tag("ratings[#{rating}]")
    -else
      = check_box_tag("ratings[#{rating}]","1", @checked[rating])
  = submit_tag 'Refresh', :id => "ratings_submit"

%table#movies
  %thead
    %tr
      %th{:class => @current_column == "title" ? 'hilite' : nil}
        - params[:sort] = "title"
        =link_to "Movie Title", params, :id =>"title_header"
      %th Rating
      %th{:class => @current_column == "release_date" ? 'hilite' : nil}
        - params[:sort] = "release_date"
        =link_to "Release Date", params, :id => "release_date_header"
      %th More Info
  %tbody

    - @movie.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
